*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body{
    background: linear-gradient(90deg, black, rgb(175, 73, 196));

}
.container{
    width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
textarea{
    width: 100%;
    resize: none;
    background-color: aliceblue;
    border: 5px rgb(175, 73, 196);
    font-size: 16px;
    line-height: 30px;
    padding: 15px;
    border-radius: 10px;
    color: #c2a8d1;
    outline: #c2a8d1;
    box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.3);
}
p{
    color: #f1f1f1;
    text-align: left;
    margin-top: 15px;
    background-color: rgb(175, 73, 196);
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(1, 1, 1, 0.2);

}