* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --light-color:  #94b0ff;
}
body{
    height: 100vh;
    background: linear-gradient(10deg,#1e1eb1,#93939b);
}
.container{
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%
}
.center{
    transform: translateX(-50%);
    left: 50%;
}
.bulb{
    position: absolute;
    background-color: var(--light-color);
    height: 15.62em;
    width: 15.62em;
    border-radius: 50%;
    top: 1.25em;
    box-shadow: rgba(168, 168, 168, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bulb::before{
    position: absolute;
    content: "";
    background-color: var(--light-color);
    height: 2.6em;
    width: 6.25em;
    top: 14.9em;
    left: 4.68em;
    border-radius: 0 0 0.3em 0.3em;
}
.inside {
    position: absolute;
    height: 7.5em;
    width: 2.91em;
    border: 0.5em solid #ffffff;
    border-bottom: none;
    bottom: -1.87em;
}
.inside:before, .inside:after{
    position: absolute;
    content: "";
    height: 2.81em;
    width: 2.81em;
    border:0.5em solid white;
    top: -3.87em;

}
.inside:before {
    border-radius: 2.81em 2.81em 0 2.81em;
    left: -3.75em;
}
.inside:after {
    border-radius: 2.81em 2.81em 2.81em 0;
    right: -3.75em;
}
.lower {
    position: absolute;
    background-color: #6b697e;
    height: 4.37em;
    width: 5.62em;
    top: 17.5em;
    border-radius: 0 0 1.87em 1.87em;
}
.lower::before{
    position: absolute;
    content: "";
    background-color: #a29dac;
    width: 6.56em;
    height: 0.62em;
    left: -0.46em;
    border-radius: 0.31em;
    top: 0.45em;
    box-shadow: 0 1em 0 #a29dac, 0 2em 0 #a29dac;
}
.lower::after{
    position: absolute;
    content: "";
    background-color: #6b697e;
    width: 1.87em;
    height: 0.62em;
    left: 1.87em;
    top: 4.3em;
    border-radius: 7em;
}
#btn {
    background-color: #3535bd;
    border-radius: 100px;
    box-shadow: #7474df 0 -25px 18px -14px inset,#5f5f63 0 1px 2px,#62626b 0 2px 4px,#93939b 0 4px 8px,#93939b 0 8px 16px,#606064 0 16px 32px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    position: absolute;
    padding: 0.6em 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 6.25em;
    bottom: 1.87em;
  }

@media screen and (min-width: 700px) {
    .container {
        font-size: 18px;
    }
}