*{ 
  margin: 0;
  box-sizing: border-box;
}
body{
height: 100vh;
background: linear-gradient(#dac8b3, #faf8f5);
overflow: hidden;
}
.container{ 
  position: absolute;
  transform: translate(-50%,-50%);
  top: 10%;
  left: 50%;
}
h2 {
  text-align: center;
  padding: 30px;
  color: #886c43;
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  font-weight: lighter;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(109, 86, 54, 0.3);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.40);
  margin-top: 50px;
}

.gato{
  position: absolute;
  background-image: url("gato-chorando.png");
  background-size: cover;
  border-radius: 10px;
  animation: fall 4s linear infinite;
}
@keyframes fall {
  0% {
    transform: translate(50%, 50%);
    opacity: 1;
  }
  
  100% {
    transform: translate(50%, 1000%);
    opacity: 0;
  }
}
