* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}
body {
    font-family: sans-serif;
    background: linear-gradient( 135deg, #97cca8, #78c4eb);
}

a{
    text-decoration: none;
    color: #fff;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    
}